ruff
pytest
torch
torchvision
tqdm
gdown
pre-commit
einops
omegaconf
pytorch-lightning
accelerate
matplotlib
diffusers
torchdiffeq
torch-fidelity
webdataset
timm
lightning
wandb
datasets
pytorch-fid
clean-fid
torch-ema
deepspeed
ml_collections
huggingface_hub[cli]
hf_transfer